fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-community
langchain-chroma
sentence-transformers
torch
google-generativeai
python-dotenv
pypdf
docx2txt
chromadb
pydantic
langchain-google-genai